@model CarReview.Models.Content
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css" />
@* BREAK ALERT!!!!!
    APP DOESNT SEEM TO LIKE THE IDEA OF BACKING UP OUT OF THE OPTION TO DELETE ON 'BACK TO LIST' PAGE REFERENCE*@
<div>
    <div class="delete-title">
        <p>Are you sure you want to delete <b>@Html.DisplayFor(model => model.Author)</b>'s Review <b>'@Html.DisplayFor(model => model.Title)'</b>' ?</p>
        <div class="deleteButtonDiv">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CategoryId" />
                <input type="submit" value="Delete" class="btn btn-danger" id="delete" />
            </form>
        </div>
    </div>
    <dl class="delete">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
    @* TARGET ENEMY, FIX WORK ENJOY!!! *@
<div class="deleteViewLinkDiv">
    <a href="/Category/Index">Back to Main Page</a>
    <a href="/Cateogry/Details">Back to Category</a>
</div>


</div>
