@model CarReview.Models.Category
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css" />
    @* DOES TITLE AFFECT THE VIEWPAGE LINK DIRECTION??????????????? *@
    <title>Category Details View</title>
</head>
<body>
    <div class="detailsCategory">
        <h3 class="detailsCategoryTitle">@Model.CategoryName</h3>

        @foreach (var content in Model.Contents)
        {
            <section class="foreachDetailsCategory">
                @* SELECT TYPE OF CAR AND YEAR: BUILD DATABASE WITH DROPDOWN *@
                <h4 class="Title"> @content.Title </h4> @*class="Type"*@ 
                <p class="Author"> @content.Author</p>
                <p class="Body"> @content.Body</p>
                <p class="PublishDate"> @content.PublishDate</p>
                <p>Image goes here</p>
                @* IMAGE: BE ABLE TO VIEW SPECIFIC IMAGE *@
            </section>
            //STEP 2: ADD DELETE BUTTON FOR EACH CONTENT ID!!
            <section>
                <a href="/Content/Delete/@content.Id">Delete Blog</a>
            </section>
        }
        <br />
        <section class="contentCategoryLinks">
            <a href="/Content/CreateByCategoryId/@Model.CategoryId">Create Blog</a> @* LEADS TO 'BACK TO MAIN LIST' ERROR LINK ON NEXT VIEW PAGE *@
            <a href="/Category/Index">HOME</a>
            <a href="/Content/Index">All reviews</a>
        </section>

    </div>

</body>
</html>
