@model CarReview.Models.Category
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css" />
    @* DOES TITLE AFFECT THE VIEWPAGE LINK DIRECTION??????????????? *@
    <title>Category Details View</title>
</head>
<body>
    <div class="categoryContentViewAll">
        <h3 class="categoryContentPageTitle">Category: @Model.CategoryName</h3>

        <div class="categoryDetailsViewAllContent">
            @foreach (var content in Model.Contents)
            {
                <div>
                <h4 class="categoryContenListTitle"> @content.Title </h4>
                <p class="categoryContentListAuthor"> @content.Author</p>
                <p class="categoryContentListBody"> @content.Body</p>
                <p class="categoryContentListPublishDate"> @content.PublishDate</p>
                <hr />
                </div>
            }
            <div class="contentCategoryLinks">
                <a href="/Content/CreateByCategoryId/@Model.CategoryId">Create Blog</a>
                <hr />
                <a href="/Category/Index">Back to List</a>
            </div>
        </div>
    </div>
    
</body>
</html>
