@model CarReview.Models.Category
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Category: @Model.CategoryName</h4>

        @foreach( var content in Model.Contents)
        {
            <p> @content.Title </p>
            <p> @content.Author</p>
            <p> @content.Body</p>
            <p> @content.PublishDate</p>
            
        }



    </div>
    <div>
        <a href="/Category/Update/@Model.CategoryId">Update</a>
        <a href="/Category/Index">Back to List</a>
    </div>
</body>
</html>
