@model CarReview.Models.Category
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css" />
    @* DOES TITLE AFFECT THE VIEWPAGE LINK DIRECTION??????????????? *@
    <title>Category Details View</title>
</head>
<body>
    <div class="detailsCategory">
        <h3 class="detailsCategoryTitle">Category: @Model.CategoryName</h3>
        @foreach (var content in Model.Contents)
        {
            <div class="foreachDetailsCategory">
                @* SELECT TYPE OF CAR AN YEAR: BUILD DATABASE WITH DROPDOWN *@
                <h4 class="Title"> @content.Title </h4>
                <p class="Author"> @content.Author</p>
                <p class="Body"> @content.Body</p>
                <p class="PublishDate"> @content.PublishDate</p>
                <p>Image goes here</p>
                @* IMAGE: BE ABLE TO VIEW SPECIFIC IMAGE *@
            </div>
            //STEP 2: ADD DELETE BUTTON FOR EACH CONTENT ID!!
            <div>Delete button goes here</div>
        }
        <br />
        <div class="contentCategoryLinks">
            <a href="/Content/CreateByCategoryId/@Model.CategoryId">Create Blog</a> @* LEADS TO 'BACK TO MAIN LIST' ERROR LINK ON NEXT VIEW PAGE *@
            <a href="/Category/Index">Back to List</a>
        </div>

    </div>

</body>
</html>
